.searchCategories {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    bottom: 50px;
}

.selectCategory {
    font-size:20px; 
}

.searchSelectButton {
    border: 1px solid white;
    padding: 10px;
        z-index: 1000;
    position: relative;

}

.searchSelectButton2 {
    border: 1px solid white;
        padding: 10px;

        z-index: 1000;
    position: relative;
}


.searchCategories li {

     z-index: 1000;
    position: relative;
}

.searchCategories li p {
    font-size: 35px;
    letter-spacing: 1.5px;
}



form {
    z-index: 1;
    position: relative;
}
.selectCategory {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    top: 35px;
}

.slideUp {
    animation: slideInFromDown 1.5s ease-in-out;
}

@keyframes slideInFromDown {
   0% {
   transform: translateY(100%);
   opacity: 0;
   }
   100% {
   transform: translateY(0);
   opacity: 1;
   }
}

@media (max-width: 1280px) {
      img {
    width: 170px;
    height: 250px;
  }

}

@media (max-width: 420px) {
    .searchCategories li p{
        font-size: 15px;
    }
form i {
    font-size: 15px;
}


}
