.row {
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    overflow-x: auto;
}

.genrePoster {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.eachPoster {
    max-height: 250px;
    max-width: 450px;
    width: 425px;
    margin: 10px;
    font-family: 'Roboto', serif;
    font-size: 20px;
}

.eachPosterLarge {
    max-height: 900px;
    max-width: 650px;
    height: 700px;
    width: 450px;
    margin: 10px;
    font-family: 'Roboto', serif;
    font-size: 20px;
}

.genrePoster::-webkit-scrollbar {
    display: none;
}

.slideInRight {
    animation: slideRight 1.5s ease-in-out;
}

@keyframes slideRight {
   0% {
   transform: translateX(-100%);
   opacity: 0;
   }
   100% {
   transform: translateY(0);
   opacity: 1;
   }
}

@media (max-width: 1920px) {
    .eachPosterLarge {
        max-height: 400px;
        max-width: 250px;
        height: 400px;
        width: 250px;
    }

    .eachPoster {
    max-height: 200px;
    max-width: 350px;
    width: 325px;
    }

    .row {
        font-size: 30px;
    }
}

@media (max-width: 1280px) {
    .eachPosterLarge {
        max-height: 350px;
        max-width: 230px;
        height: 350px;
        width: 230px;
    }

        .eachPoster {
    max-height: 160px;
    max-width: 320px;
    width: 265px;
    }
}

@media (max-width: 768px) {
    .row {
        margin-left: 0px;
        font-size: 20px;
    }
    .eachPosterLarge {
        max-height: 300px;
        max-width: 210px;
        height: 300px;
        width: 210px;
    }

    .eachPoster {
    max-height: 140px;
    max-width: 320px;
    width: 225px;
    }
}