.row {
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    overflow-x: auto;
}

.genrePoster {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.eachPoster {
    max-height: 250px;
    max-width: 450px;
    width: 425px;
    margin: 10px;
    font-family: 'Roboto', serif;
    font-size: 20px;
}

.eachPosterLarge {
    max-height: 900px;
    max-width: 650px;
    height: 700px;
    width: 450px;
    margin: 10px;
    font-family: 'Roboto', serif;
    font-size: 20px;
}

.genrePoster::-webkit-scrollbar {
    display: none;
}

.slideInRight {
    animation: slideRight 1.5s ease-in-out;
}

@keyframes slideRight {
   0% {
   transform: translateX(-100%);
   opacity: 0;
   }
   100% {
   transform: translateY(0);
   opacity: 1;
   }
}