/* .watchListButton {

    color: white;
}

.watchListLink {
    width: 200px;
    display: inline-block;
    margin: 0 auto;
    display: flex;
} */

.loading {

  color: white;
  margin: 0 auto;
  padding: 50px;
  font-size: 2rem;

}
