.categories {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    top: 60px;
}

.categories ul {
    list-style-type: none;
    display: flex;
}

.categories button {
    padding: 20px;
}

.categories li p {
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
}

.fade-item {
    transition: 2s all ease-in-out;
    opacity: 0;
}

.slideUp {
    animation: slideInFromDown 1.5s ease-in-out;
}

@keyframes slideInFromDown {
   0% {
   transform: translateY(100%);
   opacity: 0;
   }
   100% {
   transform: translateY(0);
   opacity: 1;
   }
}

.pageButtons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.pageButtons button {
    padding: 20px;
}

@media (max-width: 420px) {
     .categories ul li p{
   font-size: 10px;
   padding: 5px;
   margin: -40px;
   justify-content: center;
   display: flex;
   left: 0px;
   right: 0px;

 }

 .categories  {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    padding-bottom: 20px;
 }

 .categories ul {
     max-width: 100%;
     margin: 0 auto;
     left: 0px;
     padding: 0px;

 }

}