
.navigation {
  display: flex;
  justify-content: center;
  background: rgb(10, 19, 36);
  margin: 0 auto;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 0px;
}

.navigation ul li {
  /* width: auto; */
}


.navigation ul li h2 {
      color: white;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 20px;
        transition: 0.5s ease-in-out;
}
.navigation h2:hover {
    color: rgb(209, 64, 64);

}

.navigation a {
  max-width: 100%;
  width: 100%;
}

.navigation button {
  max-width: 100%;
  width: 100%;
}

.watchListButton, .searchButton {
  cursor: auto;
}

@media (max-width: 768px) {
  .navigation button {
    padding: 0px;
    padding-top: 30px;

  }

  .navigation ul {
        margin-left: 0px;
        padding-left: 0px;
        margin: 0 auto;
  }

  .navigation ul li a {
    width: 100%;
    display: inline-block;
  }
}

@media (max-width: 420px) {
  .navigation {
    max-width: 100%;
  }

  .navigation ul li {
    padding: 5px;
    justify-content: center;
    display: flex;
    margin: 5px;
  }
}