html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html, body {
width: 100%;
height: 100%;
min-height: 100vh;
background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);

}

header {
  background-color:rgb(10, 19, 36);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,a {
  color: rgb(209, 64, 64);
  text-decoration: none;
  transition: 0.7s;
font-family: 'Monoton', cursive;
}

h1,a:hover {
  color: rgb(46, 178, 255);
}

h1 {
  margin: 0 auto;
  padding: 25px;
  color: white;
  font-size: 4rem;
  letter-spacing: 5px;
}

.description {
  font-family:'Oleo Script', cursive;;
  width: 100%;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  color: white;
  background:#0b3049;
  background-blend-mode: soft-light;

}

form {
  padding: 10px;
  text-align: center;
}

i {
  color: white;
  font-size: 1.5rem;
  position: relative;
  right: 15px;
}

.search {
  background-color: transparent;
  border: 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 25px;
}

input[type=search] {
  width: 140px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 25%;
  border-bottom: 2px solid rgb(209, 64, 64);
  outline: 0;
}

.noResults {
  color: white;
  margin: 0 auto;
  padding: 50px;
  font-size: 2rem;
  z-index: 1;
  position: relative;
}

.trendingHeader {
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;

}

.movieslist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 45px;

}

.trending {
  display: flex;
  justify-content: center;
  color:rgb(209, 64, 64);
}
.content {
  font-size: 100px;
  position: relative;
}

.moviePoster {
  color: white;
  margin: 1rem auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
  margin: 7px;
  transition: 0.8s ease-in-out;
}

.moviePoster:hover {
  transform: scale(1.2);
  z-index: 1000;
}



.movieInfo {
  position: absolute;
  bottom: 3.7px;
  left: 0;
  right: 0;
  width: 300px;
  padding-top: 1.5rem;
  transform: translateY(100%);
  transition: transform 0.8s ease-in-out;
  overflow: auto;
  max-height: 100%;
  background-color: #061825;
}

.moviePoster:hover .movieInfo {
  transform: translateY(3%);
}

.moviePoster:focus .movieInfo {
  transform: translateY(3%);
}

.moviePoster:hover {
box-shadow: -3px -3px 30px 5px rgb(8, 12, 20), 3px 3px 15px 5px rgb(15, 3, 4);
}

h2 {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  }

.key {
  display: none;
}

.title {
  font-family: 'Roboto', serif;
}

.voteStyle {
  text-align: center;
  font-weight: 700;
  color:yellow; 
    font-family: 'Roboto', sans-serif;
}

.release {
  text-align: center;
  color:greenyellow;
    font-family: 'Roboto', sans-serif;
}

.summary {
  padding: 1.5rem;
  line-height: 25px;
  text-align: center;
    font-family: 'Roboto', sans-serif;

}

.movieInfo::-webkit-scrollbar {
  width: 5px;
  color: white;
}


img {
  max-width: 100%;
  width: 300px;
  height: 450px;

}

span {
    font-size: 2rem;
    padding: 8px;
    font-weight: 700;

}

Footer {
  width: 100%;
  height: 25px;
  font-size: 25px;
  color: white;
  text-align: center;
  background:#0d324d;
  bottom: 0%;

}

.contact {
  font-family: 'Roboto', serif;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.5rem;
}


.socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:#041018;
  
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;


}

.tmdb {
  font-family: 'Roboto', serif;
}

.credits {
  font-size: 15px;
  font-family: 'Roboto', serif;
}


.otherLinks {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.otherLinks li {
  font-size: 15px;
  text-align: center;
}

ul li {
  padding: 20px;
  font-size: 20px;
}

li i:hover {
  color: rgb(209, 64, 64);
}

.juno {
  background: black;
  width: 100%;
  height: 100%;
  margin-top: auto;
  font-size: 15px;
}



@media (max-width: 1921px) {

  /* MAIN PAGE */
  header {
    height: 50px;
  }

  header h1 {
    margin-top: 20px;
  }

  .description {
    display: none;
  }

  img {
    width: 170px;
    height: 250px;
  }

  .movieInfo {
    width: 170px;
  }

  .title {
    font-size: 1rem;
  }

  .movieInfo .summary {
    font-size: 8px;
    width: 170px;
    line-height: 15px;
  }

  .movieslist {
    max-width: 1080px;
    margin: 0 auto;
    justify-content: center;
  }

  .categories li p {
    font-size: 12px;
  }

  .navigation ul li button h2 {
    font-size: 12px;
  }

  .bannerFadeBottom {
    margin-top: 100px;
  }


}


@media (max-width: 1280px) {
  header {
  padding-top: 40px;
  }
  .movieInfo {
    width: 200px;
  }

    .title {
    font-size: 1rem;
      position: relative;
      right: 12px;
  }


  .navigation ul li {
    padding: 10px;
  }

  h2 {
    font-size: 1.3rem;
    padding: 1rem;
  }
  
  .summary {
    padding: 1rem;
    font-size: 12px;
  }

  img {
    max-width: 100%;
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  input[type=search]:focus {
  width: 45%;
  border-bottom: 2px solid rgb(209, 64, 64);
  outline: 0;
}
}




@media (max-width: 420px) {
h1 {
  font-size: 3rem;
}

.description {
  height: 120px;
  font-size: 1.2rem;
  padding: 25px;
 }

 .categories ul li {
   font-size: 10px;
 }

input[type=search]:focus {
   width: 75%;
} 

Footer {
  font-size: 15px;
}

Footer i {
  font-size: 15px;
}

ul li {
  padding: 10px;
}

.contact {
  font-size: 1rem;
}

}
